{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<div class="container my-5">
        {% if success is defined %}
        <div class="col-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endif %}
        {% if error is defined %}
        <div class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endif %}
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 border py-5">
            <div class="row">
                <div class="col-9">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-insta btn-sm" data-toggle="modal" data-target="#sendMessage">
                        Start conversation
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <form method="POST" action="{{ path('send-message') }}">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="target" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="content" class="form-control" rows="10"
                                                        required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-insta btn-sm">Send</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-12">
                <div class="row card-post-title border d-flex align-items-center py-2 my-1 bg-white">
                    <div class="col-8">
                        <a href="/profile/">
                            <img src="{{ asset('assets/img/avatar_jenny.jpg')}}" width="40px" height="40px"
                                style="border-radius: 60%;" class="mx-3"> | @</a>
                    </div>
                    <div class="col-4">
                        <a href="/follow/" class="btn btn-insta btn-sm">
                            Follow
                        </a>
                        <a href="/unfollow/" class="btn btn-insta btn-sm">
                            Unfollow
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row card-post-title border d-flex align-items-center py-2 my-1 bg-white">
                    <div class="col-8">
                        <a href="/profile/">
                            <img src="{{ asset('assets/img/avatar_jenny.jpg')}}" width="40px" height="40px"
                                style="border-radius: 60%;" class="mx-3"> | @</a>
                    </div>
                    <div class="col-4">
                        <a href="/follow/" class="btn btn-insta btn-sm">
                            Follow
                        </a>
                        <a href="/unfollow/" class="btn btn-insta btn-sm">
                            Unfollow
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12"></div>
</div>
{% endblock %}